body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.5s;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 2rem;
}
